:root {
    --color-white: #FFFFFF;
    --color-primary: #F7F8FA;
    --color-secondary: #242632;
    --color-tertiary: #EFF1F4;
    --color-black: #103339;
    --color-text: #242632;
    --color-background-dema: #E9F2F8;
    --color-background-fiveMods: #7087CB;
    --color-background-figma: #E1E3E7;
    --color-background-logos: #491E88;
    --color-background-rdr: #8C1616;


    --font-size-32: 32px;
    --font-size-28: 28px;
    --font-size-25: 25px;
    --font-size-18: 18px;
    --font-lineheight-120: 120%;
    --font-lineheight-140: 140%;
    --layout-width: 1820px;
    --layout-width-middle: 905px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
    font-weight: 500;
    font-style: normal;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    background-color: var(--color-primary);
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

body::before {
    content: '';
    position: absolute;
    left: 0;
    top: -127px;
    width: 100vw;
    height: 197px;
    background-image: url('/images/background-img/pattern.svg');
    background-repeat: no-repeat;
    background-size: cover;
    transform-origin: 98.5px 98.5px;
    z-index: 1;
}

a {
    text-decoration: none;
}

@media (max-width: 480px) {
    :root {
        --font-size-32: 19px;
        --font-size-28: 17px;
        --font-size-25: 15px;
        --font-size-18: 11px;
    }
}