.header__wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 30px;
    height: 300px;
    width: var(--layout-width);
}

.header__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__links {
    display: flex;

    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.header__about-text {
    font-size: var(--font-size-28);
    line-height: var(--font-lineheight-120);
    font-weight: 500;
}