/* Image */
.dema {
    background-color: var(--color-background-dema);
}

.fiveMods {
    background-color: var(--color-background-fiveMods);
}

.figma {
    background-color: var(--color-background-figma);
}

.logos {
    background-color: var(--color-background-logos);
}

.rdr {
    background-color: var(--color-background-rdr);
}

.tech {
    background-color: var(--color-primary);
}

/* Footer */

.footer__wrapper {
    padding: 127px 0;
    height: 300px;
    padding: 30px;
}

.footer__icon {
    display: flex;
    justify-content: center;
    padding: 97px 0 72px;
}

.footer__links {
    display: flex;
    justify-content: space-between;
}